<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#00ffff">
<form action="./insert" method="post">
    {% csrf_token %}
   <table border="0">
       <tr><td><label> Enter pid:</label></td><td><input type="text" name="t1"></td></tr>
       <tr><td><label>Enter pname:</label></td><td><input type="text" name="t2"></td></tr>
       <tr><td><label>Enter pcost:</label></td><td><input type="text" name="t3"></td></tr>
       <tr><td><label>Enter pmfd:</label></td><td><input type="text" name="t4"></td></tr>
       <tr><td><label>Enter pexpdt:</label></td><td><input type="text" name="t5"></td></tr>
       <tr><td><input type="submit" value="insert"></td></tr>
   </table>
</form>
</body>
</html>